body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(150, 7, 7);
}

header {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

main {
  padding: 20px;
}

.movie {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.movie-item {
  width: 230px;
  margin: 10px;
  padding: 10px;
  background-color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 30px;
}

.movie-poster {
  width: 200px;
  height: 300px;
  margin: 0 auto;
  /*this background will be the picture and that picture will be clickable*/
  background-color: rgb(121, 87, 87);
  border-radius: 30px;
}

.movie-title {
  margin-top: 10px;
  font-weight: bold;
}

@media (max-width: 200px) {
  .movie-item {
    width: 100%;
  }
}
