#searchResults {
padding-top: 50px;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  flex: 1;
  padding: 5px;
}

footer {
  background-color: black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.movie-card {
  color: white;
  
  }
  .blue-text {
    color: blue;
  }

main {
  min-height: 78vh;
}

footer {
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

/* Optional: If you want to center the search bar vertically as well */
.max-w-md {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

/* Styles for the movie container */

/* Additional styles for the flip card */
.flip-card {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Styles for the image inside the movie poster */
.movie-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Simple hover flip for the customized Copy right footer */
.flip-container {
  perspective: 1000px;
  display: inline-block;
}

.flipper {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  position: relative;
}

.flip-container:hover .flipper {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  background-color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 380px) {
  /* Mobile mode */
  #searchResults {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 20px;
    padding-right: 0;
  }
}